body{
    background: url(img/background1.jpg) no-repeat;
    background-size: cover;
}

.wrapper{
    width: 600px;
    margin: 0 auto;
}

table tr td:last-child {
    width: 120px;
}

/* container */
.main-container{
    background-color: white;
    border-radius: 35px;
    padding: 30px;
}

/* nav bar */
.nav-bar{
    background-color: black;
}

#user-icon{
    height: 35px;
    width: 35;
    border-radius: 5px;
    margin-right: 10px;
}


